{% extends 'coltrane/base.html' %}
{% load static %}


{% block intro %}

{% endblock intro %}


{% block wrapper%}

<div class="card bg-white-green col-12 col-md-10 mx-auto">

<h4 class="card-header display-3 bg-gray-green text-dark">{{title|title}}</h4>

    {% if image %}
    <div class="container-fluid col-4 mx-auto mt-2"     style-"max-height:10%;">
    <img class="card-img-top rounded" src="{% static image %}" 
    alt="{title}"
    /> </div>
    {% endif%}
    <div class="card-body col-10 mx-auto">
{% block content%}
<div class="container ">
{{content}}    
</div>

{% endblock content %}

</div>

{% endblock wrapper %}

{% block action %}
{% endblock action%}

</div>
</div>

