{% extends "coltrane/base.html" %}


{% block intro %}

<!-- alert to alert users who go into areas not still ready -->
{% if active == "disabled" %}
<div
  class="alert alert-warning alert-dismissible"
  role="alert"
>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
  <strong>Work in Progress</strong> Please keep cheking for updates
</div>
{% endif %}
{% endblock intro %}

{% block wrapper%}

<div class="card bg-dark-blue-light col-12 col-md-10 mx-auto p-3">

<h4 class="card-header display-3 bg-primary-subtle text-primary-emphasis">{{title|title}}</h4>

    {% if image %}
    <div class="container-fluid col-4 mx-auto mt-2"     style-"max-height:10%;">
    <img class="card-img-top rounded" src="{% static image %}" 
    alt="{title}"
    /> </div>
    {% endif%}
    <div class="card-body col-10 mx-auto">
{% block content%}
<div class="container">
    {% breadcrumb slug %}
{{content}}    
</div>

{% endblock content %}

</div>

{% endblock wrapper %}

{% block action %}
{% endblock action%}

