{% extends 'coltrane/base.html' %}
{% load static %}
{% comment %} This one adds a nav on the top of about {% endcomment %}

{% block intro %}

{% directory_contents  request|parent order_by='order' as links %}


      <button class="btn btn-info position-fixed" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">>></button>
 
      <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title text-primary" id="offcanvasScrollingLabel">{{title|title}}</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          {% breadcrumb slug %}
            <ul class="nav nav-pills nav-fill flex-column">
                {% for link in links %}
                    <li class="nav-item ">
                      <a class="nav-link
                      {% if slug == link.slug %}
                      active
                      {% endif %}"
                      href="/{{link.slug}}/">{{link.title|title}}</a>
                    </li>
                      {% endfor %}
                      </ul>        
                    
                    </div>
      </div>

 


{% endblock intro %}

{% block wrapper%}

<div class="card bg-white-green col-12 col-md-10 mx-auto mb-2">

<h4 class="card-header display-3 bg-gray-green text-dark">{{title|title}}</h4>

    {% if image %}
    <div class="container-fluid col-4 mx-auto mt-2"     style-"max-height:10%;">
    <img class="card-img-top rounded" src="{% static image %}" 
    alt="{title}"
    /> </div>
    {% endif%}
{% block content%}
<div class="container ">
{{content}}    
</div>

{% endblock content %}

</div>

{% endblock wrapper %}

{% block action %}


{% endblock action%}