{% extends "coltrane/base.html" %}


{% block intro %}

<div class="cover-container bg-dark-blue d-flex mx-auto flex-column mb-2"
    style="
      background-image:url({% static image %});
      background-position:center;
      background-size:cover;
      height:87vh;
      min-height:400px;
      z-index:10;
      background-color:#003449;

    "
    id="headshot">
  
    <main class="px-3 ms-4 my-auto text-primary">
      <h1 style="font-family:'Edu AU VIC WA NT Hand',verdana,san-serif;" id="landing-text">CreaTheory</h1>
      <p class="lead">
        <a href="/Approach/creatherapy/creatherapy-intro/" class="btn btn-lg btn-secondary fw-bold border-primary bg-primary">Re-Imagine Psychotherapy</a>
      </p>
    </main>
  
    <footer class="mt-auto text-white-50">
      <p>Check out <a href="https://crea-therapy.com/">CreaTherapy</a></p>
    </footer>
  </div>

    {% endblock intro %}
{% block content%}
    
{%endblock content %}


