{% extends "coltrane/hero.html" %}


{% block content%}
{{content}}
{% directory_contents  "areas" order_by="order" as areas %}

<div class="row row-cols-1 row-cols-md-2 g-2 m-1 shadow">
  
{% for area in areas %}
<div class="card-container col-lg-6 float-start appear" id="{{area.title}}">
  <div class="me-md-0 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden bg-dark-blue border border-primary border-5 shadow">
    <div class="my-3 py-3">
      <h2 class="display-5"><a class="link-primary link-offset-2 link-underline link-underline-opacity-20 link-underline-opacity-75-hover" 
        href="{{area.link}}">{{area.title|title}}
        {% if area.active == 'disabled' %}
        <i class="bi bi-tools"></i>
        {% endif %}</a>
</h2>
      <p class="lead text-light">{{area.description}}</p>
    </div>
    <div id="picture-{{area.title}}" class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
    <img 
    class="card-image object-fit-cover rounded shadow" 
    src="{% static area.image %}"
    style="max-width:100%;
    display:center;
    border-radius:5%;
    "
    >
    </div>
  </div>
</div>

{% endfor %}
</div>


{% endblock content %}

{% block action %}

<script src="{% static 'js/index-cards.js' %}"></script>

{% endblock action %}