{% extends "coltrane/hero.html" %}

{% block script %}{% static "js/index_cards.js" %}{% endblock script %}

{% block content%}
{% directory_contents  "areas" order_by="order" as areas %}

  
<div class="card col-12 mb-2" id="welcomeCard">
  <div class="bg-primary border border-primary-subtle border-5 shadow">
    <div class="card-body p-3 m-3 text-light fs-4 lead">
      <h2 class="card-title text-light display-3 fw-bold" style="height:4rem;" id="animateText"><span id="animateMe1">A</span> <span id="animateMe2">new</span> <span id="animateMe3">perspective</span></h2>
      <p class="card-text" id="welcomeText">{{content}}</p>
    </div>
  </div>
</div>

{% for area in areas %}
<div class="card mb-2 col-12" id="{{area.title}}">
  <div class="me-md-0 pt-1 px-1 pt-md-5 px-md-5 text-left overflow-hidden bg-dark-blue border border-primary border-5 shadow">
      <div class="row">
        <div class="card-body col-9">
            <h2 class="display-5">
              <a class="link-primary link-offset-2 
                        link-underline link-underline-opacity-20 
                        link-underline-opacity-75-hover
                        stretched-link
                        " 
              href="{{area.link}}">{{area.title|title}}
              {% if area.active == 'disabled' %}
              <i class="bi bi-tools"></i>
              {% endif %}</a>
              </h2>
      <p class="lead text-light">{{area.description}}</p>
    </div>
    <img 
    class="card-image col-3 float-end object-fit-cover rounded shadow" 
    src="{% static area.image %}"
    style="max-width:20%;
    display:center;
    "
    >
  </div>
</div>
</div>
{% endfor %}
</div>


{% endblock content %}

{% block action %}

{% endblock action %}