<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Extended Awareness</title>

    <!-- bootstrap watch https://bootswatch.com/-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/static/css/style.css"> 

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap&text=CreaTheory" rel="stylesheet"> 

    
     <!--favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest"> 
 


</head> <!-- end of head-->

<body class="bg-light">
                        <!--Navbar starts-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary boder position-sticky" data-bs-theme="dark" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand text-light" style="font-family:'Edu AU VIC WA NT Hand',verdana,san-serif;" href="/" id="nav-title">
            CreaTheory<span class="text-light" style="font-family:verdana,san-serif;"></span> </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- collapsable part of the Navegation Bar -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb2 mb-md-0"> <!-- "me" refers to left, and "ms" to right -->
                <li class="nav-item">
                  <a class="nav-link" href="/Profiles/">
                    Profiles</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="/Practice/">
                    Practice</a></li>                
                <li class="nav-item">
                  <a class="nav-link" href="/Approach/">
                    Approach</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="/Growth/">
                    Gowth</a></li>
            </ul><!-- End of links on left side of nvbar -->
            
            <!-- Account related links-->
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">

            </ul> 

             <!-- End of account related links -->


        </div> <!-- Closes collapsible parts of navbar -->
    </div><!-- closes navbar container-->
</nav><!-- end of navbar -->

<!-- Main section -->

<main style="min-height:86vh;">





      <button class="btn btn-info position-fixed" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">>></button>
 
      <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title text-primary" id="offcanvasScrollingLabel">/Profiles/Components</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      
      <li class="breadcrumb-item"><a href="/"></a></li>
        
      <li class="breadcrumb-item"><a href="/Profiles/">Profiles</a></li>
        
      <li class="breadcrumb-item"><a href="/Profiles/components/">components</a></li>
        
      <li class="breadcrumb-item"><a href="/Profiles/components/extended/">extended</a></li>
        
    </ol>
  </nav>

          <a href="/Profiles/">Back to Profiles</a>
            <ul class="nav flex-column">
                
                    <li class="nav-item">
                      <a class="nav-link
                      
                      aria-current="page"
                      href="/Profiles/components/components_intro/">Component&#x27;s Intro</a>
                    </li>
                      
                    <li class="nav-item">
                      <a class="nav-link
                      
                      aria-current="page"
                      href="/Profiles/components/subjective/">Subjective</a>
                    </li>
                      
                    <li class="nav-item">
                      <a class="nav-link
                      
                      aria-current="page"
                      href="/Profiles/components/extended/">Extended Awareness</a>
                    </li>
                      
                    <li class="nav-item">
                      <a class="nav-link
                      
                      aria-current="page"
                      href="/Profiles/components/contextual/">Contextual</a>
                    </li>
                      
                    <li class="nav-item">
                      <a class="nav-link
                      
                      aria-current="page"
                      href="/Profiles/components/culture/">Culture</a>
                    </li>
                      
                    <li class="nav-item">
                      <a class="nav-link
                      
                      aria-current="page"
                      href="/Profiles/components/identity/">Identity</a>
                    </li>
                      
                      </ul>        
                    
                    </div>
      </div>

 



    

<div class="card bg-white-green col-12 col-md-10 mx-auto mb-2">

<h4 class="card-header display-3 bg-gray-green text-dark">Extended Awareness</h4>

    
    <div class="card-body col-10 mx-auto">

<div class="container ">
<h1 id="extended-awareness">Extended Awareness:</h1>
<p>This area is about what lays beyond the subjective. This are common spaces for many approaches, but they are not so easily grasped by a client or a therapist in training. They usually need many experiences and theoretical knowledge to use and understand.</p>
<p><img src="/static/images/components/extended.png" alt="Extended"/></p>
<h2 id="dreaming">Dreaming:</h2>
<p>Dreaming and other dreamlike experiences have been a staple in psychotherapy since Freud&rsquo;s Interpretation of Dreams. There are many ways of approaching dreams and working with them.
Traditionally we would interpret the symbols, but we can also amplify the archetypes, do active imagination, enact them individually or in groups, write them as narrative, etc.
Dreams open to use a space to the unconscious and the metaphoric areas of our minds.</p>
<h2 id="subliminal">Subliminal</h2>
<p>Subliminal work also has been in the field since its origins, with hypnosis being what Freud trained in. It was Milto Erikson who popularised the technique again, when he would tell stories to children to help them stop wetting their beds.
The many stories of Erikson lead to be part of &lsquo;The Structure of Magic&rsquo; the seminal book that created Neurolinguistic Programming. He never wrote theories of his work, but it has been an inspiration for many approaches, as he was able to use subliminal techniques to influence clients, with them being conscious in the process.
It includes the use of non-verbal communication, soft trance of storytelling/listening, association with objects/situations/people, use of metaphors, etc.</p>
<h2 id="sub-parts">Sub Parts:</h2>
<p>The work with parts is common in more humanistic approaches, like the Gestalt. For some authors this seems like a dissociation, and clients sometimes get scared of having multiple personalities.
In the practice it is useful to give voice to the different tendencies of our clients, and to open space for them to express what they are wanting to say. An open conversation, with awareness and a therapist holding the contradictions and conflicts, help clients to dissolve their subtle dissociations.
Paraphrasing  James Hillman: personification seems to be a natural way of thinking, that lead us to more complex ways of thinking.</p>
<h2 id="spiritual">Spiritual:</h2>
<p>Using this name may be contentious for evidence based therapist, but I think it encapsulates many of our therapeutic assumptions. It does not aim to belong to any religious tradition, but many therapist come to work inspired by their religions and the compassion they learned there.
I include in this group the notion that we have a natural tendency towards growth. I also expand it to the use of alternative states of consciousness, meditation, and spiritual healing. These areas are so prevalent in our practice, and somewhat adjacent practices, that I feel they need to be included in a more open therapeutic way of thinking.</p>
<h2 id="re-programming">Re-programming:</h2>
<p>This group is usually more pragmatic, and aims to generate associations by actively repeating actions, or using objects that represent a desired mental state. An example is to imagine a safe place and then carry a stone that represents that state.
This type of practices somewhat &lsquo;re-program&rsquo; our system. Their main representative is NLP, but we can find it in other practices as well. I have seen many therapist using EMDR which it also aims to break connections with traumatic experience by moving our eyes in different directions.
These types of approaches I call &lsquo;re-programming&rsquo; because they directly address associations and learning, aiming to change a pattern directly.</p>
    
</div>



</div>







</main>
<footer>

        <nav class="navbar navbar-expand-md bg-secondary bottom-0">
            <div class="container-fluid">
              <a class="navbar-brand pb-2" href="/">Home</a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarCollapseBottom" aria-controls="navbarCollapseBottom"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
              </span>
              </button>

              <div class="collapse navbar-collapse" id="navbarCollapseBottom">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" id="scrol-to-view" aria-current="page" href="/about/contact/">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about/site/">Site</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="scroll-to-view" href="/about/pricing/">Pricing</a>
                  </li>
                </ul>
                <span class="navbar-text">
                  By Gabriel Soler
                </span>
              </div>
            </div>
          </nav>

</footer>

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="/static/js/bottom-nav.js"></script>
        </body>
</html>