<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Culture</title>

    <!-- bootstrap watch https://bootswatch.com/-->
    <link rel="stylesheet" href="/static/static/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/static/static/css/style.css"> 

    <!--font icons bootstrap css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap&text=CreaTheory" rel="stylesheet"> 

     <!--favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/static/favicon/site.webmanifest"> 

    <!-- JQery and velocity CDN plus a block to add individual js on pages -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/2.0.6/velocity.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/2.0.6/velocity.ui.min.js"></script>
    <script src=></script>
</head> <!-- end of head-->

<body class="bg-light">
                        <!--Navbar starts-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary boder sticky-top col-12 z-1" data-bs-theme="dark" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand text-light" style="font-family:§Edu AU VIC WA NT Hand',verdana,san-serif;" href="/" id="brand-text">
            CreaTheory<span class="text-light" style="font-family:verdana,san-serif;"></span> </a>
            
          
<button class="btn position-relative float-end" 
type="button" data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasScrolling" 
aria-controls="offcanvasScrolling"><i class="bi bi-layout-sidebar-inset"></i>
</button>

            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <!-- collapsable part of the Navegation Bar -->
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb2 mb-md-0"> <!-- "me" refers to left, and "ms" to right -->
              <li class="nav-item">
                
                
                
                <a class="nav-link 
                
                
                
                " 
                href="/Approach/">
                Approach
                
              </a></li>
              
                <a class="nav-link 
                active
                
                
                " 
                href="/Profiles/">
                Profiles
                
              </a></li>
              
                <a class="nav-link 
                
                
                
                " 
                href="/Practice/">
                Practice
                
              </a></li>
              
                <a class="nav-link 
                
                
                
                " 
                href="/Growth/">
                Growth
                
              </a></li>
              
              <li class="nav-item"><a class="nav-link" href="https://crea-therapy.com/">CreaTherapy<i class="bi bi-box-arrow-in-up-right"></i></a></li>
            </ul><!-- End of links on left side of nvbar -->
            
            <!-- Account related links-->
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
              
            </ul> 
            
            <!-- End of account related links -->
            
            
          </div> <!-- Closes collapsible parts of navbar -->
        </div><!-- closes navbar container-->
</nav><!-- end of navbar -->

<!-- Main section -->

<main style="min-height:86vh;">





    




<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title text-primary" id="offcanvasScrollingLabel">Culture</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    
          <div class="card">
          <ul class="nav nav-pills nav-fill flex-column">
              <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      
      
      <li class="breadcrumb-item"><a href="/Profiles/">Profiles</a></li>
        
      
      
      <li class="breadcrumb-item"><a href="/Profiles/components/">components</a></li>
        
      
      
      <li class="breadcrumb-item text-primary">culture</li>
        
      
    </ol>
  </nav>
                
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      
                      "
                      href="/Profiles/components/components_intro/"
                      >
                      Component&#x27;s Intro
                      
                    </a>
                    </li>
                      
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      
                      "
                      href="/Profiles/components/subjective/"
                      >
                      Subjective
                      
                    </a>
                    </li>
                      
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      
                      "
                      href="/Profiles/components/extended/"
                      >
                      Extended Awareness
                      
                    </a>
                    </li>
                      
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      
                      "
                      href="/Profiles/components/contextual/"
                      >
                      Contextual
                      
                    </a>
                    </li>
                      
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      active
                      
                      
                      "
                      href="/Profiles/components/culture/"
                      >
                      Culture
                      
                    </a>
                    </li>
                      
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      
                      "
                      href="/Profiles/components/identity/"
                      >
                      Identity
                      
                    </a>
                    </li>
                      
                      </ul>        
                    
                    </div>
                  </div></div>


<div class="card bg-dark-blue-light col-md-10 mx-auto mt-3 mb-2">
  
<h4 class="card-header display-3 bg-dark-blue-subtle text-light">Culture</h4>

    

    

<div class="card bg-dark-blue-light col-12 col-md-10 mx-auto mb-2 border-0 p-3">
  <h1 id="culture">Culture:</h1>
<p>The field of culture is so important to our practice that I am including it as another group of five. It does not fully belong to a therapeutic approach, and that is part of my critic to the field. Sometimes, we focus so much on the &lsquo;psy&rsquo; that we forget other areas that influence our work.</p>
<p><img src="/static/static/images/components/culture.png" alt="Culture"/></p>
<h2 id="anthropology">🥸 Anthropology:</h2>
<p>The study of cultures in their practices seems like the field best represent this group. I think that as therapist we are doing anthropology even if we do not realise it. I am not expert on this field, but a notion of different cultures, how they see life, how the behave, how different we can be, help our process as therapists.
Sometimes we work with multiple backgrounds and we need to keep an open mind to get their own frame of reference. The meaning of practices, the rituals, the connection with a context that is far from our own.</p>
<h2 id="worldview">🌐&nbsp;Worldview:</h2>
<p>Connected to the above the understanding of different world views is important for our work. Religion and science carry a world view, and each religion in each country and each family may have a particular flavour of a world.
Sometimes we relay way too much in our western views and psychology, and in my experience, it is useful to be open to other configurations. One of my non-white students was working on questioning a psychology that starts from a monistic culture, versus a polytheistic psychology which would emphasise more the fragments and multiplicities in ourselves.</p>
<h2 id="politics">⚖️ Politics:</h2>
<p>The field of politics sometimes is difficult to name, especially in context where &lsquo;you do not talk about politics and religion because it is always complicated&rsquo;.
The problem is that because it is always complicated, they are so important in our work. Each political change affects many of our clients, by feeling now threatened or represented. It becomes part of the identity of many and of their daily life.
I expand this field to the understanding of power, power dynamics, class, inequality. Because as therapist we are also part of that field, and we generate an influence (in terms of power dynamics) in the ways we relate with our clients.
Some clients may read us as right or left wing and hid part of their experience to us for that reason. Or maybe they already chose you because they sensed a connection in your profile.
As many silenced areas of our lives, it is good to bring them to therapy.</p>
<h2 id="arts">👩&zwj;🎨 Arts:</h2>
<p>Arts are the expression of the soul, many would say, others would attribute to the unconscious. Art therapies are a strong group in the field, and the understanding of arts, its tendencies, practices, techniques, may be a good addition to any therapists knowledge.
Many clients find difficult to use words for their expression and arts become a more direct and easy medium, if we know how to resonate and connect in a different mode of expression.</p>
<h2 id="philosophy">🤔 Philosophy:</h2>
<p>Philosophy as the discipline that creates concepts (Deleuze and Guattari), seems also important and useful to our practice. Understanding nuances of thinking, different models of the world, the history of thought, help us to expand our horizons of meaning, to understand better diversity and to organise multiple models of psychotherapy.
Some practitioners have even develop techniques around philosophy (like 'Plato, not Prosac', by Marinoff), arguing that it help us give meaning to difficult experiences, and connect to a wider field of humanity.</p>
    
</div>



</div>



<div class="container me-1">
<nav aria-label="previous/next navigation">
  <ul class="pagination">
    

     <!-- custom tag that gives me the previoues page, if empty not do it -->
    <li class="page-item"><a class="page-link" href="/Profiles/components/contextual/">Previous: <small>"Contextual"</small></a></li>
    

     <!-- custom tag that gives me the next page, if empty not do it-->
      <li class="page-item"><a class="page-link" href="/Profiles/components/identity/">Next: <small>"Identity"</small></a></li>
     
  </ul>
</nav>
</div>



</main>
<footer>

        <nav class="navbar navbar-expand-md bg-secondary bottom-0">
            <div class="container-fluid">
              <a class="navbar-brand pb-2" href="/">Home</a>

              <button class="navbar-toggler bg-primary dropup" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarCollapseBottom" aria-controls="navbarCollapseBottom"
              aria-expanded="false" aria-label="Toggle navigation" id="collapseButton">
              <span class="navbar-toggler-icon">
              </span>
              </button>

              <div class="collapse navbar-collapse dropup" id="navbarCollapseBottom">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" id="scroll-to-view" aria-current="page" 
                    href="/www.gabrielsoler.co.uk/contact/">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="www.crea-therapy.com">WebApp</a>
                  </li>
                </ul>

                <span class="navbar-text" id="last-text">
                  By Gabriel Soler
                </span>
              </div>
            </div>
          </nav>

</footer>

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" 
          crossorigin="anonymous"></script>

<script>
//for the last nav that was not showing when opening
const element = document.getElementById("scroll-to-view");
var myCollapsible = document.getElementById("navbarCollapseBottom");

myCollapsible.addEventListener("shown.bs.collapse", function () {
element.scrollIntoView();})
    </script>
        </body>
</html>