<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Identity</title>

    <!-- bootstrap watch https://bootswatch.com/-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/static/css/style.css"> 

    <!--font icons bootstrap css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap&text=CreaTheory" rel="stylesheet"> 

    
     <!--favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest"> 
 


</head> <!-- end of head-->

<body class="bg-light">
                        <!--Navbar starts-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary boder position-sticky" data-bs-theme="dark" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand text-light" style="font-family:'Edu AU VIC WA NT Hand',verdana,san-serif;" href="/" id="nav-title">
            CreaTheory<span class="text-light" style="font-family:verdana,san-serif;"></span> </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- collapsable part of the Navegation Bar -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb2 mb-md-0"> <!-- "me" refers to left, and "ms" to right -->
                <li class="nav-item">

                  
                  
                  <a class="nav-link 
                  
                  
                      
                  " 
                        href="/Approach/">
                    Approach
                    
                  </a></li>
                    
                  <a class="nav-link 
                  active
                  
                      
                  " 
                        href="/Profiles/">
                    Profiles
                    
                  </a></li>
                    
                  <a class="nav-link 
                  
                  disabled
                      
                  " 
                        href="/Practice/">
                    Practice
                    
                    <i class="bi bi-tools"></i>
                    
                  </a></li>
                    
                  <a class="nav-link 
                  
                  disabled
                      
                  " 
                        href="/Growth/">
                    Growth
                    
                    <i class="bi bi-tools"></i>
                    
                  </a></li>
                    
            </ul><!-- End of links on left side of nvbar -->
            
            <!-- Account related links-->
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">

            </ul> 

             <!-- End of account related links -->


        </div> <!-- Closes collapsible parts of navbar -->
    </div><!-- closes navbar container-->
</nav><!-- end of navbar -->

<!-- Main section -->

<main style="min-height:86vh;">





      <button class="btn btn-info position-fixed" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">>></button>
 
      <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title text-primary" id="offcanvasScrollingLabel">Identity</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      
      
      <li class="breadcrumb-item"><a href="/Profiles/">Profiles</a></li>
        
      
      
      <li class="breadcrumb-item"><a href="/Profiles/components/">components</a></li>
        
      
      
      <li class="breadcrumb-item text-primary">identity</li>
        
      
    </ol>
  </nav>
            <ul class="nav nav-pills nav-fill flex-column">
                
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      
                      "
                      href="/Profiles/components/components_intro/"
                      >
                      Component&#x27;s Intro
                      
                    </a>
                    </li>
                      
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      
                      "
                      href="/Profiles/components/subjective/"
                      >
                      Subjective
                      
                    </a>
                    </li>
                      
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      
                      "
                      href="/Profiles/components/extended/"
                      >
                      Extended Awareness
                      
                    </a>
                    </li>
                      
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      
                      "
                      href="/Profiles/components/contextual/"
                      >
                      Contextual
                      
                    </a>
                    </li>
                      
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      
                      "
                      href="/Profiles/components/culture/"
                      >
                      Culture
                      
                    </a>
                    </li>
                      
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      active
                      
                      
                      "
                      href="/Profiles/components/identity/"
                      >
                      Identity
                      
                    </a>
                    </li>
                      
                      </ul>        
                    
                    </div>
      </div>

 



    

<div class="card bg-white-green col-12 col-md-10 mx-auto mb-2">

<h4 class="card-header display-3 bg-gray-green text-dark">Identity</h4>

    

<div class="card bg-white-green col-12 col-md-10 mx-auto mb-2 border-0 p-3">
  <h1 id="identity">Identity:</h1>
<p>The identity group aims to describe common tensions in our life and the life of our clients. As I said before, we tend to worry about these topics a lot more than about how we think or feel. We feel or think about them as we try to find our path through life, and when it does not work, we may resort to thinking and feeling about thinking and feeling.</p>
<p><img src="/static/images/components/identity.png" alt="identity"/></p>
<p>We have used &lsquo;technical terms&rsquo; to validate our profession, which sometimes creates a distance between life and therapy. I think technical language is important, but here, I am explicitly trying to present identity as something we can feel part of.</p>
<p>Even though it is central to our lives, it has not been a topic taken broadly by all therapeutic approaches, or at least not as I am presenting it here. Our idea of the &lsquo;ego&rsquo; or &lsquo;self&rsquo; does not always include a more direct naming of its components. In Freud, the &lsquo;Ego&rsquo; is referred to as a mediator between reality and inner impulses, and the &lsquo;self&rsquo; varies in its meaning, from body to totality, to deep soul, to spontaneity, to so many other forms.
The approach where I trained had a section called the &lsquo;self-system&rsquo; (Opazo) that involved some of these topics but from a different angle. It focused on &lsquo;systems&rsquo; and &lsquo;functions&rsquo; to keep us &lsquo;balanced&rsquo;.</p>
<p>I have opted for these names as they feel more directly involved in our daily lives, avoiding the more technical forms. With technical, I mean we could refer to values as &lsquo;ego ideals&rsquo; or to sex as &lsquo;psychosexuality&rsquo;.  Or about &lsquo;meaning function&rsquo; instead of values. Referring to belonging as a &lsquo;support system&rsquo; takes away much of the lived experience of belonging. A more everyday use of words may help us to be more open (and actual), and to explore these flavours of psychotherapy in a way that can receive multiple (technical) names inside them.</p>
<h2 id="individuation">Individuation:</h2>
<p>A process proposed by Jung, would be an inner call, or an inner guide, that pushes us to find who we are.
A some sort of inner compass that sometimes knocks at our door and asks us to make difficult decisions for the sake of being coherent with who are becoming.
I think this process is part of many approaches, for instance the trust in Person Centred of the six conditions, that a process will unfold naturally. Or the individuation of children in Mahler&rsquo;s studies.
Many approaches trust that the right environment activates a &lsquo;something&rsquo; that guides the therapeutic process, which we can call individuation.</p>
<h2 id="belonging">Belonging:</h2>
<p>This is so important for each of my clients that it is strange is not a topic we are talking more about. Our culture seems to have an emphasis for individuality, and we forget how much meaning we find when we feel we belong, we are loved, we are recognised for who we are.
Sometimes I think that therapy emerges in the west because we started to break our belonging ties, and we needed to find new meanings in new practices.
We, humans, come with an attachment system that is active our whole life. We need people, we need to be seen and understood, it is not a desire, it is a biological need. At the same time we need to be individuals and we need our own space and mind, and this creates a constant tension in our life.
Many approaches work with belonging with different names, as before mentioned &lsquo;system of support&rsquo;, or different types of family work. Some may talk about the limbic system, or about oxytocin.
Belonging as a concept is more open and includes friends, culture, intimate relationships, and many flavours to our practice.</p>
<h2 id="sex-and-gender">Sex and gender:</h2>
<p>Our biological sex, our sexual desires and our cultural definitions of gender create a complex set of tensions, identifications, roles, and therefore, conflicts in our lives. It is seeming relevant to bring this as a topic that requires some specialization and knowledge.
When we work with clients our prejudices and upbringing may prime some of our reactions and understanding of sex and gender, and it is relevant slowly learn to understand our own complexity and the one of others.
Most traditions do not directly address these topics, and some have made conclusions that may be damaging or challenging to our clients.
Even though sometimes problematic, I think there is much to discuss in this topic. Early in psychoanalysis we saw deep reflections about what it means to take male and female roles in the Oedipus complex, and in the process of the development of our psychosexuality. I am not updated in these discussions, but I imagine they are still debated in psychoanalytic literature as our culture has moved from a more traditional view to a more open and diverse one.
Jung had a view of Anima and Animus as components of every individuation process, as opposites that need integration. Some may use these ideas to justify gender differentiation and some to understand non-binary and queer clients (I am in the second group).
For these reasons I give sex and gender a place in the identity pentagram.</p>
<h2 id="values">Values:</h2>
<p>Another topic that sometimes has been moved to the side of therapy discussions, as we avoid talking about religion and cultural particularities, is our value systems.
An approach like Acceptance and Commitment Therapy has taken the role of values to the font. The notion of Competent commitments of Kegan, also puts values at the centre of change.
Values guide us as individuals and cultures, and sometimes allow us to keep growing, because of the direction they give us to move forward. I personally think we are missing more open and respectful debates about ethics and values, to avoid conflicts. The ethical line of development needs feeding in real life situations and collective debate. Sometimes we think that the words matter more than the comprehension of concepts, and in the values discussion this difference sometimes comes to the front in the middle of a crisis.
What do we really want from life, why do we stay in a relationship, why do we work hard, or wake up in the morning?</p>
<h2 id="roles">Roles:</h2>
<p>Observing our roles is another important aspect of our identities that sometimes we forget in psychotherapy as a topic on its own.  Approaches like drama therapy have worked the notion of role and counter role deeply and apply it to concrete experiential exercises.
Sometimes we are deeply identified with a role, sometimes we feel alienated by it. Sometimes we enter in a crisis of roles, and that prompts a big depression or anxiety. Life transitions are marked by the roles we play in life, and for that reason roles are another independent group of knowledge in the identity pentagram.</p>
    
</div>



</div>







</main>
<footer>

        <nav class="navbar navbar-expand-md bg-secondary bottom-0">
            <div class="container-fluid">
              <a class="navbar-brand pb-2" href="/">Home</a>

              <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarCollapseBottom" aria-controls="navbarCollapseBottom"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
              </span>
              </button>

              <div class="collapse navbar-collapse" id="navbarCollapseBottom">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" id="scrol-to-view" aria-current="page" href="/www.gabrielsoler.co.uk/contact/">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="www.crea-therapy.com">WebApp</a>
                  </li>
                </ul>

                <span class="navbar-text">
                  By Gabriel Soler
                </span>
              </div>
            </div>
          </nav>

</footer>

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="/static/js/bottom-nav.js"></script>
        </body>
</html>