<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contextual</title>

    <!-- bootstrap watch https://bootswatch.com/-->
    <link rel="stylesheet" href="static/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="static/css/style.css"> 

    <!--font icons bootstrap css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <!-- js for bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous" defer ></script>

    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous" defer></script>


    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap&text=CreaTheory" rel="stylesheet"> 

     <!--favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/favicon/site.webmanifest"> 

    <!-- JQery and velocity CDN plus a block to add individual js on pages -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/2.0.6/velocity.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/2.0.6/velocity.ui.min.js"></script>
</head> <!-- end of head-->

<body class="bg-light" hx-boost="true">
                        <!--Navbar starts-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary border sticky-top col-12 z-1" data-bs-theme="dark" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand text-light" style="font-family:'Edu AU VIC WA NT Hand',verdana,san-serif;" href="/" id="brand-text">
            CreaTheory<span class="text-light" style="font-family:verdana,san-serif;"></span> </a>
            
          
<button class="btn position-relative float-end" 
type="button" data-bs-toggle="offcanvas" 
data-bs-target="#offcanvasScrolling" 
aria-controls="offcanvasScrolling"><i class="bi bi-layout-sidebar-inset"></i>
</button>

            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <!-- collapsable part of the Navegation Bar -->
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb2 mb-md-0"> <!-- "me" refers to left, and "ms" to right -->
              
              
              
              <li class="nav-item">
                <a class="nav-link 
                
                
                
                " 
                href="/Approach/">
                Approach
                
              </a></li>
              
              <li class="nav-item">
                <a class="nav-link 
                active
                
                
                " 
                href="/Profiles/">
                Profiles
                
              </a></li>
              
              <li class="nav-item">
                <a class="nav-link 
                
                
                
                " 
                href="/Practice/">
                Practice
                
              </a></li>
              
              <li class="nav-item">
                <a class="nav-link 
                
                
                
                " 
                href="/Growth/">
                Growth
                
              </a></li>
              
              <li class="nav-item"><a class="nav-link" href="https://crea-therapy.com/">CreaTherapy<i class="bi bi-box-arrow-in-up-right"></i></a></li>
            </ul><!-- End of links on left side of nvbar -->
            
            <!-- Account related links-->
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
              
            </ul> 
            
            <!-- End of account related links -->
            
            
          </div> <!-- Closes collapsible parts of navbar -->
        </div><!-- closes navbar container-->
</nav><!-- end of navbar -->

<!-- Main section -->

<main style="min-height:86vh;">





    




<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title text-primary" id="offcanvasScrollingLabel">Contextual</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    
          <div class="card">
          <ul class="nav nav-pills nav-fill flex-column">
              <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      
      
      <li class="breadcrumb-item"><a href="/Profiles/">Profiles</a></li>
        
      
      
      <li class="breadcrumb-item"><a href="/Profiles/components/">components</a></li>
        
      
      
      <li class="breadcrumb-item text-primary">contextual</li>
        
      
    </ol>
  </nav>
                
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      
                      "
                      href="/Profiles/components/components_intro/"
                      >
                      Component&#x27;s Intro
                      
                    </a>
                    </li>
                      
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      
                      "
                      href="/Profiles/components/subjective/"
                      >
                      Subjective
                      
                    </a>
                    </li>
                      
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      
                      "
                      href="/Profiles/components/extended/"
                      >
                      Extended Awareness
                      
                    </a>
                    </li>
                      
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      active
                      
                      
                      "
                      href="/Profiles/components/contextual/"
                      >
                      Contextual
                      
                    </a>
                    </li>
                      
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      
                      "
                      href="/Profiles/components/culture/"
                      >
                      Culture
                      
                    </a>
                    </li>
                      
                    <li class="nav-item ">
                      <a class="nav-link
                      
                      
                      "
                      href="/Profiles/components/identity/"
                      >
                      Identity
                      
                    </a>
                    </li>
                      
                      </ul>        
                    
                    </div>
                  </div></div>


<div class="card bg-dark-blue-light col-md-10 mx-auto mt-3 mb-2">
  
<h4 class="card-header display-3 bg-dark-blue-subtle text-light">Contextual</h4>

    

    

<div class="card bg-dark-blue-light col-12 col-md-10 mx-auto mb-2 border-0 p-3">
  <h1 id="contextual">Contextual</h1>
<p>The contextual group aims to describe the work we do around the life of a client. When we address their relationships, work, the things they like, the people they love. Sometimes we work in routines or on making a change in their life.</p>
<p><img src="/static/images/components/contextual.png" alt="Contextual"/></p>
<h2 id="relational">🍵 Relational:</h2>
<p>The relational group has been growing over the last few years and is now part of most approaches. We have accepted that the relationship shapes our minds when we are babies and as we grow. Notions like attachment and attunement are now common ground for most of us.
We have the relational psychoanalysis group, who has described detailed interactions in the dyad, where two unconscious share a common space; and there are also nuances, like the Intersubjective approach, that emphasises some distance and analysis as we merge in the relationship.
We find different ways of addressing the relational space, with different names, but overall we talk about a natural connection and sharing of emotions or unconscious processes.</p>
<h2 id="family">👪 Family:</h2>
<p>The family group is algo common through many approaches. It deservers its own space because we have explored it so much. I think we have a common agreement that our family shapes our mind, and that working with our early family dynamics, or current family dynamics create a deep change in any client.
There are many ways of conceptualising this, from repression, transference and Oedipus, enacting in groups, constellations, relational enactments, etc.
Systems:
Family is a system, as also your friends, your work, any group or dyad you create. Systemic therapies are a group that studies patterns that emerge from multiple components interacting. It has its own ontological premises, with many nuances.
Even though there is a group of therapist who specialise in systems, it is used by many of us when we explore the life of our clients. Understanding dynamics, and emergent group situations help us to see beyond the dyad and explore the wider life of ourselves and others.</p>
<h2 id="set-up-and-rewards">🍬 Set up and rewards:</h2>
<p>The set up was worked a lot by child therapist, who would position toys and objects in the right places and would analyse patterns in the family that may be reinforcing some behaviours.
It comes with the premise that the environment shapes interactions and mental processes. We work with the set up when we finish at 50 minutes, when we put a plant or open a window in our session, or when we charge an amount of money.
The set-up is all this little choices we make that frame our work. Some approaches work more directly with this notion, by seeing what it represents, in terms of symbols, rewards or relational dynamics.</p>
<h2 id="transitional-objects">🧸 Transitional Objects:</h2>
<p>A concept developed by Donald Winnicott (one of my favorite therapists), that refers to a space between reality and fantasy. Transitional objects are embed with unconscious, or affective energy, and we as therapist can work with them.
Child therapist use them when working with toys, but also adult therapist may be using the sand tray, cards, or stones to aid their process.
Objects can receive projections and at the same time carry their own message, in a paradoxical state. These allows the therapist to also make comments and help change some assumptions the client is bringing.
Working with transitional objects makes therapy more engaging and creative, as it also includes, the cultural space of TV series and movies, toys, hobbies, art, etc.</p>
<h2 id="systems">🔄 Systems:</h2>
<p>Systemic thinking is an important part of any relational approach. It sees how the parts together generate wholes that do more than the mere sum of the components. There are emergent properties in systems, and for that reason a group of cells can generate living beings, a group of neurons can generate consciousness, a group of people can generate a society. The study of systems is associated with the cybernetic movement and with the study of information, and borrowed similar conceptual tools than the ones that created computers and the internet.</p>
<p>Gregory Bateson studied communication in as an anthropologist visiting a tribe, also used the same tools to study dolphins, and then families of schizophrenics. The conclusions and observations where different, but the core conceptual system remained the same.</p>
<p>Systemic therapy emerged from those seminal studies, and has grown to be an important approach, specially when working with families. When Relational Psychoanalysis emerged they explicitly referenced systemic influences, and mixed it with psychoanalysis.</p>
    
</div>



</div>



<div class="container me-1">
<nav aria-label="previous/next navigation">
  <ul class="pagination">
    

     <!-- custom tag that gives me the previoues page, if empty not do it -->
    <li class="page-item"><a class="page-link" href="/Profiles/components/extended/">Previous: <small>"Extended Awareness"</small></a></li>
    

     <!-- custom tag that gives me the next page, if empty not do it-->
      <li class="page-item"><a class="page-link" href="/Profiles/components/culture/">Next: <small>"Culture"</small></a></li>
     
  </ul>
</nav>
</div>



</main>
<!--Fixed footer nav -->
<footer class="bg-primary">
  <ul class="nav nav-underline px-3 bg-primary nav-justified">
        <li class="nav-item">
          <a class="nav-link fw-light link-secondary fs-6 " 
          data-bs-toggle="tooltip" data-bs-title="Home"
          data-bs-custom-class="custom-tooltip"
          href="/">
        <i class="bi bi-house-fill"></i>
      <span class="d-none d-md-inline fs-5">
        Home
      </span>
      </a>
        </li>
          <!--Add Question -->
          <li class="nav-item">
            <a class="nav-link fw-light link-secondary fs-6" 
            data-bs-toggle="tooltip" data-bs-title="Go To App"
            data-bs-custom-class="custom-tooltip"
            href="https://www.crea-therapy.com/"
            target="_blank">
            <i class="bi bi-window"></i>
              <span class="d-none d-md-inline fs-5">
              Tests
              </span>

              </a>
          </li>
          <!--Add Topic -->
          <li class="nav-item">
            <a class="nav-link fw-light link-secondary fs-6 " 
            data-bs-toggle="tooltip" data-bs-title="My Journal"
            data-bs-custom-class="custom-tooltip"
            href="https://www.gabrielsoler.co.uk/"
            target="_blank">
            <i class="bi bi-person-rolodex"></i>
            <span class="d-none d-md-inline fs-5">
              About
              </span>
        </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>


</footer>

        </body>
</html>