<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Subjective</title>

    <!-- bootstrap watch https://bootswatch.com/-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/static/css/style.css"> 

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap&text=CreaTherapy" rel="stylesheet"> 

    
    

</head> <!-- end of head-->

<body class="bg-light">
                        <!--Navbar starts-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary boder position-sticky" data-bs-theme="dark" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand text-light" style="font-family:'Edu AU VIC WA NT Hand',verdana,san-serif;" href="/" id="nav-title">
            CreaTheory<span class="text-light" style="font-family:verdana,san-serif;">-Transitional Space</span> </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- collapsable part of the Navegation Bar -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb2 mb-md-0"> <!-- "me" refers to left, and "ms" to right -->
                <li class="nav-item">
                  <a class="nav-link" href="/Profiles/profiles_index/">
                    Profiles</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="/Practice/practice_index/">
                    Practice</a></li>                
                <li class="nav-item">
                  <a class="nav-link" href="/Approach/approach_index/">
                    Approach</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="/Growth/growth_index/">
                    Gowth</a></li>
            </ul><!-- End of links on left side of nvbar -->
            
            <!-- Account related links-->
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">

            </ul> 

             <!-- End of account related links -->


        </div> <!-- Closes collapsible parts of navbar -->
    </div><!-- closes navbar container-->
</nav><!-- end of navbar -->

<!-- Main section -->

<main style="min-height:86vh;">



    

<div class="card bg-white-green col-12 col-md-10 mx-auto">

<h4 class="card-header display-3 bg-gray-green text-dark">Subjective</h4>

    
    <div class="card-body col-10 mx-auto">

<div class="container ">
<h1 id="subjective">Subjective</h1>
<p>The subjective group aims to encapsulate some of the common areas we work in therapy. It is easy to confuse it with the identity group, but the main difference is that in these five we tend to be &lsquo;subject&rsquo; to them and therefore they feel like further away from our worries. While in the identity group, those areas are part of our day to day worries, are areas that seem problematic by themselves, while the subjective ones are problematic only if someone point them out.
Please remember, these are broad areas or flavours, and any particular technique may belong to more than one.</p>
<p><a href="/static/images/components/subjective.png">Subjective</a></p>
<h2 id="body">Body:</h2>
<p>Area of work that refers to the physical body in its different forms: as flesh (tendons, muscles), as experiential body, as sensations, as positions, as gestures, as body language, etc.
I am explicitly naming different ways of seeing the body as there are approaches that emphasise each of those areas. It is easier to group them as body practices, but as we explore we see there are many ways of addressing our body.</p>
<h2 id="feelings">Feelings:</h2>
<p>Area of our feelings, where we can recognise them, name them, learn about its processes and nuances. Even though belonging to all approaches, some focus more on feelings, specially the ones that are more phenomenological, like Person centred or Focusing. Some work directly with feelings and its body manifestations, like Alba Emoting.
There are many ways of working with feelings, from more body angles, from descriptions of experience, from giving them clearer names, from relational spaces, etc.</p>
<h2 id="thoughts">Thoughts:</h2>
<p>Even though belonging clearly to Cognitive Behavioural, it is part of many approaches. Again there are many ways of seeing a thinking process. CBT would focus on the rationality of the premises and processes, while Lacanianism would focus on the breaks and unconscious resonances of the words.</p>
<p>This area, in general, explores logic, induction, deduction and abduction, searches for healthy processes and to generate a more integrated &lsquo;ego&rsquo; function.</p>
<h2 id="narrative">Narrative:</h2>
<p>Narrative therapist work with the plot, with the characters, the timelines, the archetypes. They search for new narratives and alternative stories. This way of working also is used by multiple therapist as they listen to their clients actively.
Having a notion of narrative help the active listening of any practitioner, and help us to be closer to our clients experience.
It is used by many approaches in different ways, by interpreting and creating a dynamic history(psychoanalysis), or by enacting in a group (drama therapy), by giving space and reflecting back, or by being attentive and resonating with life and its nuances.</p>
<h2 id="expression">Expression:</h2>
<p>This one is tricky because it feels like it belongs to the other ones. After long thought I concluded it was a distinctive area of psychotherapy. Expression integrates the previous parts of the subjective group but can also be considered an independent skill.
Expression is about being able to connect an inner process with a shape in the world. It is not just about narrating but feeling that the narration expresses what is felt. It is not about thinking but that the thoughts expresses the contents.
Some therapist and approaches put more emphasis in this area, like in Gestalt or Drama therapy. In general artistic therapist, or more enactive therapist use expression as their focus, and the other components reside as secondary to expression. This is what makes it a distinctive flavour of our practice.</p>
    
</div>



</div>





</main>
<footer>

        <nav class="navbar navbar-expand-md bg-secondary bottom-0">
            <div class="container-fluid">
              <a class="navbar-brand pb-2" href="/">Home</a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarCollapseBottom" aria-controls="navbarCollapseBottom"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
              </span>
              </button>

              <div class="collapse navbar-collapse" id="navbarCollapseBottom">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" id="scrol-to-view" aria-current="page" href="/about/contact/">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about/site/">Site</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="scroll-to-view" href="/about/pricing/">Pricing</a>
                  </li>
                </ul>
                <span class="navbar-text">
                  By Gabriel Soler
                </span>
              </div>
            </div>
          </nav>

</footer>

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="/static/js/bottom-nav.js"></script>
        </body>
</html>