image,img {
    max-width:80%;
}


blockquote {
    background-color: rgb(233, 240, 241);
    border-color: rgb(37, 44, 44);
    border-left: 0.5rem;
    padding:0.5rem;
    margin-left: 2%;
}

.bg-dark-blue {
    background-color:#003449;

}
